* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

input,
button {
  border: none;
  padding: 10px;
}

input {
  border: 2px solid darkcyan;
}

button {
  color: white;
  background-color: darkcyan;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.image-container {
  padding: 20px;
  column-count: 3;
  column-gap: 20px;
}

.image-result {
  margin-bottom: 20px;
  break-inside: avoid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image-result img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.image-result p {
  padding: 10px;
}

.image-result p.light-text {
  color: #fff;
  text-shadow: 0 0 2px #222;
}

.image-result p.dark-text {
  color: #222;
  text-shadow: 0 0 2px #fff;
}
