* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  padding: 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.project {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #eceff1;
}

.project .description {
  flex-grow: 1;
}

.screenshot-wrapper {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
}

.screenshot-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.project a {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: seagreen;
}
