* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

:root {
  --bg-dark: hsl(220 59% 91%);
  --bg: hsl(220 100% 97%);
  --bg-light: hsl(220 100% 100%);

  --text: hsl(226 85% 7%);
  --text-muted: hsl(220 26% 31%);
  --highlight: hsl(220 100% 100%);

  --border: hsl(220 19% 53%);
  --border-muted: hsl(220 27% 65%);

  --primary: hsl(221 49% 33%);
  --secondary: hsl(44 100% 14%);

  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);

  --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
}

:root.dark-theme {
  --bg-dark: hsl(228 79% 2%);
  --bg: hsl(222 55% 5%);
  --bg-light: hsl(220 35% 10%);

  --text: hsl(220 100% 98%);
  --text-muted: hsl(220 35% 73%);
  --highlight: hsl(220 20% 42%);

  --border: hsl(220 26% 31%);
  --border-muted: hsl(220 37% 20%);

  --primary: hsl(220 78% 76%);
  --secondary: hsl(40 53% 60%);

  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
}

body {
  min-height: 100vh;
  padding: 0 1rem;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text);
}

main {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem 1rem;
  border-radius: 1rem;
  /* border: 1px solid var(--border); */
  background-color: var(--bg);
  box-shadow: var(--shadow);
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -0.125rem;
}

form {
  width: 100%;
  max-width: 440px;
  display: grid;
  justify-items: center;
  gap: 1.25rem;
  font-size: 1.2rem;
  color: var(--text-muted);
}

form .row {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-items: center;
  gap: 0.75rem;
}

form .checkbox-row {
  width: 100%;
  grid-template-columns: 28px 1fr;
}

@media (max-width: 520px) {
  form .row {
    width: 300px;
  }

  form .row:not(.checkbox-row) {
    grid-template-columns: 1fr;
  }
}

input {
  border-radius: 0.25rem;
  border: 1px solid var(--border-muted);
  background-color: var(--bg-light);
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
}

input:focus {
  box-shadow: 0 0 0 2px var(--primary);
}

input[type='number'] {
  width: 100%;
  max-width: 250px;
  padding: 0.45rem 0.5rem;
}

input[type='checkbox'] {
  appearance: none;
  width: 24px;
  height: 24px;
  position: relative;
}

input[type='checkbox']:checked::after {
  content: '✓';
  position: absolute;
  top: -3px;
  left: 4px;
  font-size: 1.25rem;
}
