* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

iconify-icon {
  font-size: 1.5rem;
}

button {
  border: none;
  cursor: pointer;
  user-select: none;
}

button:active {
  transform: translateY(1px);
}

button:has(iconify-icon) {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
  transition: 0.15s ease;
}

button:has(iconify-icon):hover {
  background-color: #ffb0cb;
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: flex;
}

/* toolbar styles */

.toolbar {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: antiquewhite;
  overflow: auto;
}

.toolbar-top,
.toolbar-bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* inbox styles */

.inbox {
  min-width: 300px;
  background-color: aquamarine;
}

/* header */

.inbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

/* search */

.inbox-search {
  padding: 5px;
}

.inbox-search input {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid seagreen;
  border-radius: 20px;
}

.inbox-search-filters {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.inbox-search-filters button {
  padding: 5px 10px;
  border-radius: 20px;
}

/* main */

.inbox-main {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inbox-chat {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid;
}

.inbox-chat img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}

.inbox-chat .details {
  flex-grow: 1;
}

.inbox-chat .row1,
.inbox-chat .row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.inbox-chat .content {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inbox-chat .username {
  font-weight: bold;
}

.inbox-chat .count,
.inbox-chat .time {
  font-size: 0.8rem;
}

.inbox-chat .count {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  color: white;
  background-color: seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inbox-chat .tick {
  padding-top: 5px;
}

.inbox-chat .tick iconify-icon {
  font-size: 1.2rem;
}

/* chatbox styles */

.chatbox {
  flex-grow: 1;
  background-color: lightblue;
}
